-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAhArive/dBTga4ZgPGidFYCOkihiFeYtMrqt9qA13WzhggUaV
1+mUcJmyBGY/4UlE2tgRnE8QCtm0Jnh/noKA4/5DTz8yqV7ESeiRIq2pVXJOY1nE
fpow1nV9ZmKKV1vjtU4vqpzVWoQVmdOchEfxkD27sW29/+F3OfmKqVgKHBbBsQVd
Hp4lE3okVVkKqpPr6i37WBJL+1QCEdx8CbG5p5KSScgIXM9+xo5Hgv5i8SOzucFI
NrnIRrTwsK5YN5CWBx3gWg1siFpKjXu2yoB4353VoIbmFm8h0YNXaiI6bCrrh83d
iOQlW4PjsPSBfs694BkkzUyqqxLjQNDYRW7koQIDAQABAoIBAGUBPrk0Rsm7RTTU
cJj8+WC1YyQP5eo32Iy0ugZXZrnswkWhjPYAw3/u0fHzlWHr/jO5nJ8JC6iBKAFV
o6nJAndlBHAWU9ajm1s9/+ebGDE4oyX0gQ6nPDyQ2z/6mQCCVglWqbfFCJ+Y8j0d
VlkJ/4rq7iynWfPmsKE0dhFcOz+IPoQTcALoVQHt9Y9ts58HSIwQBLmlOdaG0wVN
PqI43dZuLyhpz14Scf1L95icw+2wGhHmydYr5h1Ei8373NBW5UnE7cVzFh1l4QAx
/bHvUeBAOou1EgxTTIWZl2VY4bSNi37LwUT+gm9F13P492l/sGteHxm93P9CQCcj
6+I198ECgYEAyHjwrQI9yAVTcostvTJRBxP6NBKULOPiYJKPsdJoJMwI9OpxbHqS
RDuGUUFu7pYqVmoF/OoEFDbav5WmsAb5nIaop56McTF3MKaL2zyUrSoMZSFRDx9q
GhVEoTgeSjjBTXpz+izHqrl51qGJQ21U4vsrDIzxTH2HdFB5hb0aRb0CgYEAqJ27
PeBSbu/dU55RcWVADozUM2YKt33lznRUbfl7DZmFNwuBOAVxyN+Qi+o8r297UQE1
m1gzZ2rWPn3+9izvWZUomxJkWL7QpOlPv5dp/S7zFQy5X+ok86weNW9QB76pNBmx
OszNk3ZDyBeweDVuM9BT3YG3Jg/O4h1HMNbMTrUCgYBCj+VZjGT3BM2wOoX1S7+b
mgZ5Q7HvNbr0VbVgVXw+u4A90ZnXatslzJ3MXO14SmPETW+vigPQsmXvNsEhsS8v
yYY2IW6AJuxsOuA06uhyloOHEIjZfJS+FFG1NezYt/92ujHH3xZsmSjbGsd4m9ST
iNHCWQnFW+idthqjTSZsAQKBgEUVUtjYJo4DQpf23oFqLWOIuYxRe4SQVW5P5SOl
uo/o3VafJRMxz9uwFUXt820hbNHUgAUkjvMJJ7w03Rg5ctsuLJPUZj6h91QJrz3d
KHSuHrP6IZ01jmwzkbDs6UozCJorCJ0Buhx3sO+zHP8zTPJ3oVS4x7QVd/rWaguN
hemdAoGBAKqbPtq/5FOF1+tBuTPf/CQg+HSa0que5harNSNO0nXpdAhGt9vwEMtt
WUsnB01JQdpwNlftl/rfJS66Q1il3wuX8fljLdlVWDw3hP8Ufb9I7wWATMWmhYDk
k0O0bc601EXgStTOM8fNrenM7vTHIg2Dy5F0J3fMqV3/XSzQ/O44
-----END RSA PRIVATE KEY-----



$admins = [
    ['email' => 'admin@wakazi.com', 'password' => password_hash('superadmin123', PASSWORD_DEFAULT), 'name' => 'Super Admin', 'role' => 'sa'],
    ['email' => 'productmanager@wakazi.com', 'password' => password_hash('productmanager123', PASSWORD_DEFAULT), 'name' => 'Product Manager', 'role' => 'pm'],
    ['email' => 'hexanetsystems@wakazi.com', 'password' => password_hash('supermanager123', PASSWORD_DEFAULT), 'name' => 'Super Manager', 'role' => 'sm'],
    ['email' => 'manager@wakazi.com', 'password' => password_hash('manager123', PASSWORD_DEFAULT), 'name' => 'Manager', 'role' => 'm']
];

.vscode/